.tag-cloud {
    white-space: normal;
    word-wrap: normal;
    word-break: keep-all;
}

.cloud-url {
    text-decoration: none;
}

#statistics-container {
    display: grid;
    grid-template-areas: 'div side'
}